/* Style the body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-width: 800px;
}

#wrapper {
    margin: auto;
    min-width: 800px;
}

/* Style the header */
header {
    /* position: fixed;
    top: 0; */
    /*future development: to make top navbar stick to top*/

    width: 100%;
    background-color: rgb(32, 96, 190);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 15px 0;
    z-index: 1000;
    /* Set a high z-index to ensure it appears above other content */
}

.logo {
    margin: 0 0 0 50px;
    display: flex;
    align-items: center;
}

/* navigation panel */
.navbar {
    margin-right: 50px;
}

nav b a {
    color: #fff;
    margin-right: 35px;
    /* space between each nav button */
    text-decoration: none;
}

/* general use */
.left {
    float: left;
}

.right {
    float: right;
}

.underline {
    text-decoration: underline;
}

.center {
    text-align: center;
}

.container {
    border: 1px solid black;
}

.flex {
    display: flex;
}

.space-around {
    justify-content: space-around
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

/* Style the footer */
footer {
    background-color: rgb(32, 96, 190);
    color: #fff;
    text-align: center;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.footer-left {
    text-align: left;
}

.footer-right {
    text-align: left;
}

/* Buttons */
.book-now-button {
    padding: 5px 15px;
    background-color: #3907ec;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.book-now-button:hover {
    background-color: #2e04c7
}

.subscribe-button,
.login-button {
    padding: 5px 15px;
    background-color: green;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.subscribe-button:hover,
.login-button:hover {
    background-color: rgb(1, 83, 1)
}

/* Login Panel */
.login {
    background-color: rgb(185, 226, 252);
    height: 70%;
    width: 30%;
    margin: 50px 50px 0 auto;
    border: 1px solid rgb(97, 172, 233);
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.login-font {
    font-size: 75px;
    font-weight: bold;
    margin: 30px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-input {
    padding: 5px 15px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.login-signup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* About page */
.about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about-body {
    margin: 20px 0 20px 100px;
}

/* Split page */
.left-section {
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.right-section {
    width: 80%;
    text-align: start;
    padding: 20px;
}

/* Car page */

.car {
    display: flex;
    flex-direction: row;
}

.car-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-direction: row-reverse;
}

.car-template {
    width: 20%;
    border: 1px solid #ccc;
    padding: 20px 20px 10px 20px;
    margin: 10px;
    text-align: center;
    background-color: lightblue;
}

.car-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.car-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.car-type {
    font-size: 14px;
    margin-bottom: 10px;
}

.car-image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

.car-filter {
    font-size: large;
}

.car-filter ul li {
    margin-bottom: 5px;
}

.car-filter ul li a {
    text-decoration: none;
    color: #000;
}

.car-location-filter {
    width: 70%;
    padding: 5px 5px 5px 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-image: url('../images/Icons/search-icon.png');
    /* image retrieved from https://www.flaticon.com/free-icons/search */
    background-size: 16px 16px;
    background-position: 10px center;
    background-repeat: no-repeat;
    margin: 20px 0 20px 0;
}

.car-location-filter::placeholder {
    font-size: 16px;
}

.car-search-filter {
    width: 70%;
    padding: 5px 5px 5px 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-image: url('../images/Icons/search-icon.png');
    /* image retrieved from https://www.flaticon.com/free-icons/search */
    background-size: 16px 16px;
    background-position: 10px center;
    background-repeat: no-repeat;
    margin: 20px 0 20px 0;
}


