/* Define colors for standardization */
:root {
    /* Theme layout */
    --background-color: lightskyblue;
    --header-footer-color: mediumblue;
    --primary-color: dodgerblue;
    --secondary-color: #BDE3FF;

    /* Buttons */
    --purple-button: #3907ec;
    --purple-button-hover: #2e04c7;
    --green-button: green;
    --green-button-hover: rgb(1, 83, 1);
    --red-button: #e30606;
    --red-button-hover: #b50101;
}

/* Style the body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-width: 800px;
}

#wrapper {
    margin: auto;
    min-width: 800px;
}

/* general use */
.underline {
    text-decoration: underline;
}

.center {
    text-align: center;
}

.container {
    border: 1px solid black;
}

.flex {
    display: flex;
}

.space-around {
    justify-content: space-around
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.hidden {
    display: none;
}

/* Buttons */
.book-now-button {
    padding: 5px 15px;
    background-color: var(--purple-button);
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.book-now-button-big {
    padding: 10px 30px 10px 30px;
    background-color: var(--purple-button);
    color: #fff;
    border-radius: 15px;
    text-decoration: none;
    cursor: pointer;
    font-size: 30px;
}

.book-now-button:hover,
.book-now-button-big:hover {
    background-color: var(--purple-button-hover);
}


.subscribe-button,
.login-button,
.search-button,
.submit-button {
    padding: 5px 15px;
    background-color: var(--green-button);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    border-width: 1px;
}

.subscribe-button:hover,
.login-button:hover,
.search-button:hover,
.submit-button:hover,
.save-button:hover {
    background-color: var(--green-button-hover);
}

.save-button {
    padding: 5px 15px;
    background-color: var(--green-button);
    color: #000;
    border-radius: 10px;
    cursor: pointer;
    border-width: 1px;
}

.edit-button {
    padding: 5px 15px;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    cursor: pointer;
    border-width: 1px;
    border: 1px solid black;
}

.reset-button {
    padding: 5px 15px;
    background-color: var(--red-button);
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    width: max-content;
}

.reset-button:hover {
    background-color: var(--red-button-hover);
}

/* Style the header */
header {
    /* position: fixed;
    top: 0; */
    /*future development: to make top navbar stick to top*/

    width: 100%;
    background-color: var(--header-footer-color);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 15px 0;
    z-index: 1000;
    /* Set a high z-index to ensure it appears above other content */
}

.logo {
    margin: 0 0 0 50px;
    display: flex;
    align-items: center;
}

/* navigation panel */
.navbar {
    margin-right: 50px;
}

nav b a {
    color: #fff;
    margin-right: 35px;
    /* space between each nav button */
    text-decoration: none;
}

/* Table config */
table {
    border: 1px solid #000;
    border-spacing: 0;
}

td,
th {
    padding: 10px;
    text-align: left;
    border: 1px solid #000;
}

/* Style the footer */
footer {
    background-color: var(--header-footer-color);
    color: #fff;
    text-align: center;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.footer-left {
    text-align: left;
}

.footer-right {
    text-align: left;
}

/* Home Page */
.home {
    background-color: var(--background-color);
}

/* Login Panel */
.home-login {
    background-color: var(--background-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px;
}

.login {
    background-color: var(--secondary-color);
    height: 70%;
    width: 20%;
    margin: 0 50px 0 auto;
    /* border: 1px solid rgb(97, 172, 233); */
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: 30px;
    align-items: center;
}

.login-font {
    font-size: 75px;
    font-weight: bold;
    margin: 0 30px 30px 30px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-input {
    padding: 5px 15px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.login-signup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* About page */
.about {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.about-body {
    margin: 20px 0 20px 100px;
}

/* Split page */
.left-section {
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.right-section {
    width: 80%;
    text-align: start;
    padding: 20px;
}

/* Car page */

.car {
    background-color: var(--background-color);
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.car-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-direction: row-reverse;
}

.car-template {
    width: 20%;
    border: 1px solid #ccc;
    padding: 20px 20px 10px 20px;
    margin: 10px;
    text-align: center;
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.car-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.car-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.car-name img {
    margin-left: auto;
}

.car-type {
    font-size: 14px;
    margin-bottom: 10px;
}

.car-image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

.car-filter {
    font-size: large;
}

.car-filter label input {
    margin-bottom: 10px;
}

.car-location-filter-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#car-location-filter {
    width: 60%;
    padding: 5px 5px 5px 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-image: url('../images/Icons/search-icon.png');
    /* image retrieved from https://www.flaticon.com/free-icons/search */
    background-size: 16px 16px;
    background-position: 10px center;
    background-repeat: no-repeat;
    margin: 20px 10px 20px 0;
    cursor: pointer;
}

#car-location-filter::placeholder {
    font-size: 16px;
}

.car-search-filter {
    width: 70%;
    padding: 5px 5px 5px 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-image: url('../images/Icons/search-icon.png');
    /* image retrieved from https://www.flaticon.com/free-icons/search */
    background-size: 16px 16px;
    background-position: 10px center;
    background-repeat: no-repeat;
    margin: 20px 0 20px 0;
}

/* Car Info page */

.car-info {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    padding: 50px 20px 0 20px;
}

.car-info-selected {
    display: flex;
    flex-direction: column;
}

.car-info-head {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
}

.car-info-name {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.car-info-type {
    font-size: 30px;
}

.car-info-desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    margin-left: auto;
    /* Push it to the right (align to the left edge) */
    margin-bottom: 20px;
}

.car-info-desc table {
    font-size: 30px;
}

.car-info-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.car-info-row p {
    font-size: 30px;
}

#preset-options {
    font-size: 30px;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
}

/* Booking page */
.booking {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    margin-left: auto;
    margin-bottom: 20px;
}

.booking-type {
    margin-bottom: 10px;
}

.toggle-button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #b3b3b3;
    border-radius: 5px;
    color: #242424;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.toggle-button.active {
    background-color: var(--primary-color);
    color: white;
}

.hourly {
    background-color: #fff;
    border-radius: 5px;
}

.hourly table,
td {
    border: none;
}

/* Locations page */
.location {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.location .car-location-filter-container {
    justify-content: center;
    width: 50%;
}

.location #car-location-filter {
    width: 100%;
    font-size: 16px;
}

.location-header {
    font-size: 50px;
    margin-block-end: 0;
}

.location-subheader {
    font-size: 30px;
    margin-block-start: 0;
}

.map-info img {
    border: 2px solid black;
}

.map-info,
.location-query {
    width: 80%;
}

.map-header,
.location-query-header {
    font-size: 50px;
    text-align: left;
}

.location-query-subheader {
    font-size: 30px;
    text-align: left;
}

.location-query-form {
    width: 100%;
    height: 100px;
    resize: none;
    font-size: 20px;
    margin-bottom: 10px;
}

/* FAQs page */
.faq {
    background-color: var(--background-color);
    padding: 50px;
}

.faq-container {
    display: flex;
    flex-direction: column;
    padding: 0 0 30px 100px;
}

.faq-header {
    font-size: 50px;
}

.faq-body {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.faq-subheader {
    font-size: 30px;
    width: max-content;
    cursor: pointer;
}

.faq-query {
    width: 80%;
    margin: auto;
}

.faq-query-header {
    font-size: 50px;
    text-align: left;
    margin-block-end: 0;
}


.faq-query-subheader {
    font-size: 30px;
    text-align: left;
    margin-block-start: 0;
}

.faq-query-form {
    width: 100%;
    height: 100px;
    resize: none;
    font-size: 20px;
    margin-bottom: 10px;
}

/* My Account Page */
.account {
    background-color: var(--background-color);
    padding: 5%;
}

.account-information {
    padding: 20px 100px 50px 50px;
    background-color: #fff;
    color: var(--primary-color);
}

.account-information-header {
    font-size: 50px;
}

.account-information-body {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 50px;
}

.account-information-subheader {
    font-size: 30px;
}

.account-information-content {
    color: #000;
    margin-block-end: 0;
}

.line {
    border-top: 1px solid black;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 30px;
}

/* Sign Up Page */
.signup-header {
    font-size: 70px;
    font-weight: bold;
}

.signup-subheader {
    font-size: 30px;
}

/* Sign Up Confirmation Page */
.signup-confirmation {
    padding: 20px 100px 50px 50px;
    background-color: #fff;
}

.signup-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 30px;
}

.signup-box-scroll {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 30px;
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.checkbox-label {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 10px;
}

.disclaimer {
    font-weight: bold;
}

#accept-terms-checkbox {
    width: 20px;
    /* Adjust the width as needed */
    height: 20px;
    /* Adjust the height as needed */
    margin: 10px 5px 0 0;
}

.signup-information {
    margin-left: 25px;
}

.signup-contact {
    margin-bottom: 100px;
}

.signup-password {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-password-section {
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.right-password-section {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.right-password-section ul {
    margin-block-start: 0;
}

.right-password-section ul li {
    display: flex;
    justify-content: space-between; 
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}
